@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

@await Component.InvokeAsync("_HeadUILayoutComponentPartial")

<body>

    @await Component.InvokeAsync("_NavbarUILayoutComponentPartial")

    <!-- END nav -->

    @* MainCoverUILayoutComponentPartial *@
    @await Component.InvokeAsync("_MainCoverUILayoutComponentPartial")


    @RenderBody()


    @* FooterUILayoutComponentPartial *@
    @await Component.InvokeAsync("_FooterUILayoutComponentPartial")

    @* ScriptUILayoutComponentPartial *@
    @await Component.InvokeAsync("_ScriptUILayoutComponentPartial")

</body>
</html>